{% load contentious %}

<!DOCTYPE html>

<html lang="en" itemscope itemtype="http://schema.org/">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<link href="//fonts.googleapis.com/css?family=Montserrat|Open+Sans:400,600" rel="stylesheet">
<link href="//p.ota.to/static/css/bootstrap.min.css" rel="stylesheet">
<link href="//p.ota.to/static/css/magnific-popup.css" rel="stylesheet">
<link href="//p.ota.to/static/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" >
<link href="//p.ota.to/static/css/potato.css" rel="stylesheet">

<title>Potato</title>
<link href="{{STATIC_URL}}fancybox/jquery.fancybox-1.3.4.css" rel="stylesheet" />
<link href="{{STATIC_URL}}css/contentious.css" rel="stylesheet" />
</head>

<body class="home">
	<div class="color-block">
	<div class="container">
	<nav id="desktopnav" class="hidden-xs">
		<div class="col-md-1 col-sm-1">
			<a href="//p.ota.to/" class="logo"></a>
		</div>
		<div class="col-md-11">
		<ul class="list-unstyled pull-right">
			<li class="active"><a href="//p.ota.to/">Home</a></li>
			<li><a href="//p.ota.to/work/">Work</li>
			<li><a href="//p.ota.to/blog/">Blog</a></li>
			<li><a href="//p.ota.to/lab/">Lab</a></li>
			<li><a href="//p.ota.to/jobs/">Jobs</a></li>
			<li><a href="//p.ota.to/about-us/">About</a></li>
			<li><a href="//p.ota.to/contact-us/">Contact</a></li>
			<li id="searchform">
				<form action="/search/" method="get">
					<input type="search" name="q">
				</form>
			</li>
			<li id="searchbtn"><a href="#"><i class="fa fa-search"></i></a></li>
		</ul></div>
	</nav>
	<nav id="topnav" class="col-lg-2 col-md-2 visible-xs">
	<a href="//p.ota.to/" class="logo"></a></nav></div></div>
	<div class="content">
	<main>
	<div class="container index-header">
	<div class="row text-center">

	<h1>We Are Potato</h1>

	<p class="col-lg-5 col-md-5 col-sm-5 col-centered">We build complex and scalable web applications</p></div></div>
	<nav class="visible-xs">
		<ul class="list-unstyled">
		<li class="active">
		<a href="//p.ota.to/">Home</a></li>
		<li>
		<a href="//p.ota.to/work/">Work</a></li>
		<li>
		<a href="//p.ota.to/blog/">Blog</a></li>
		<li>
		<a href="//p.ota.to/lab/">Lab</a></li>
		<li>
		<a href="//p.ota.to/jobs/">Jobs</a></li>
		<li>
		<a href="//p.ota.to/about-us/">About</a></li>
		<li>
		<a href="//p.ota.to/contact-us/">Contact</a></li></ul>
	</nav>
	<div class="carousel-outer">
	<div class="carousel-btn prev hidden-xs"></div>
	<div class="carousel-btn next hidden-xs"></div>
	<ul class="carousel">
	<li class="invert background">
	<img src="//lh3.ggpht.com/kzsBzGXe-ZyxHFqGKF6GaKexVKshJPP6lkFOSmKrgA9AMVUSQSKl_oCLj3vBm89B84jwk_e8LHQ1CCByj1m2ow=w1978-h608-c">
	<div class="carousel-caption">
	<h2>
	<a href="//p.ota.to/work/street-view-treks-venice/">Street View Treks: Venice</a></h2>
	<p>Take a Gondola-powered tour of this world heritage city.</p></div></li>
	<li class="invert background">
	<img src="//lh3.ggpht.com/D1WiJMEurzPe-PM89rHFtRZ7qePO4H52bylZ2bmDBrrvt02KP3VvjesKQ6P-Ldzu5M72MYpeRGFi0zB5lJBzvQ=w1978-h608-c">
	<div class="carousel-caption">
	<h2>
	<a href="//p.ota.to/work/google-stories/">Google Stories</a></h2>
	<p>Draw inspiration from these tales of incredible online success.</p></div></li>
	<li class="invert background">
	<img src="//lh3.ggpht.com/0Uwo3zhjyrdBNm_SlbniJCrngO89OGcS0qCn9G93J5vJ8A5J7W2Mpupp6Bo6v-jQNfsPwQiQfF7JvZye5c4v=w1978-h608-c">
	<div class="carousel-caption">
	<h2>
	<a href='/work/scott-expedition/'>Scott Expedition</a></h2>
	<p>Follow the brave team following in Scott's frozen footsteps.</p></div></li>
	<li class="invert background">
	<img src="//lh3.ggpht.com/ZnxZclk94sVyQIuyzOv1brJqQ7lsrXzk6kDDjtlFpVEv5ao7Ks9imsRwz2nqT3L3QfUSv4rUg1rui7v6-sbNTw=w1978-h608-c">
	<div class="carousel-caption">
	<h2>
	<a href="//p.ota.to/work/dream40/">Dream40</a></h2>
	<p>A unique online re-imagining of Shakespeare's A Midsummer Night's Dream.</p></div></li></ul></div>
	<div class="container">
	<div class="row row-padded">
	<div class="col-sm-4 text-center work">
	<a href="//p.ota.to/work/">
	<div class="worktype internal-tools"></div>
	<h3>Productivity Tools</h3>
	<p>We deliver custom secure web applications to drive sales, manage teams and assets for 10 to 10,000 people.</p></a></div>
	<div class="col-sm-4 text-center work">
	<a href="//p.ota.to/work/">
	<div class="worktype campaigns"></div>
	<h3 class="text-center">Campaigns</h3>
	<p class="text-center">Applications that serve millions of users an hour, often accompanying a critical, immovable event or large media spend.</p></a></div>
	<div class="col-sm-4 text-center work">
	<a href="//p.ota.to/work/">
	<div class="worktype products"></div>
	<h3>Products</h3>
	<p>Solving user's problems for multi-national corporations and startups, Potato develops secure and scalable products from scratch.</p></a></div></div></div>
	<div class="color-block row-margin-bottom">
	<div class="container clients-container">
	<div class="row">
	<h2 class="text-center">Who we've worked with</h2>
	<hr class="page contrast"/></div>
	<div class="row clients">
	<ul class="list-unstyled text-center">
	<li>
	<a href="http://www.google.com">
	<img class="greyscale-filter" src="//lh3.ggpht.com/Q7l2BpPoi-xy_EpGQHPYSj-J5sF_LlTReQfpUuyW5hFpHeUIfg7lzC9nwKFVsJQo9k--2togTglB_Np6i7TW3A=w100" alt="Google"></a></li>
	<li>
	<a href="http://www.youtube.com">
	<img class="greyscale-filter" src="//lh3.ggpht.com/0nsr8_U8w_9KJMvo_j1FmOBRqE-sEDwyuJ3fxLmrrQOa-D2SFgEslYDHNCR2EzRXH-RPbk_CNL7gHQeC638DiQ=w90" alt="YouTube"></a></li>
	<li>
	<a href="http://www.motherlondon.com">
	<img class="greyscale-filter" src="//lh3.ggpht.com/fOfLBP-FJcyaF6eC-80OB5M6nDfyHntHH0O41ZVgRUFYkWnIiwqV8jQoHyVxwRvfeZ5-hLXYK6mTxNHhea0gOw=w60" alt="Mother"></a></li>
	<li>
	<a href="http://www.profero.com">
	<img class="greyscale-filter" src="//lh3.ggpht.com/zqXCWSsGnez6dTykKQrZLplzLCL5OnpVJS3uKboaB5r0W30Yf4ls5DoivKzgGwqT9lTBA2cmNEJPoNWlA0AkB4M=w120" alt="Profero"></a></li>
	<li>
	<a href="http://www.bartleboglehegarty.com/">
	<img class="greyscale-filter" src="//lh3.ggpht.com/hvIma3Xj3cWzT7OdLhLxyBGvVymHW0jTjKLqBs_h1WQX2xCJy2r_mCRjkWG0hhkYdSggXXcXs7CLj1-iSvgt8w=w75" alt="BBH"></a></li>
	<li>
	<a href="http://www.skype.com">
	<img class="greyscale-filter" src="//lh3.ggpht.com/rFT0OcRcXBRVty0d-RUXHoixnsyLNF00-kJAvl9ubcJi5SHmMene3R8l5GhDPf5LrwIx59pXqj4aUZwk25lD=w90" alt="Skype"></a></li></ul></div>
	<div class="row clients bottom-row">
	<ul class="list-unstyled text-center">
	<li>
	<a href="http://www.whitehouse.gov">
	<img class="greyscale-filter" src="//lh3.ggpht.com/jFu31xYBm3sJbU4X9G6Ol3ByvJ6DUHlSbt52MdcMwRBlCHwvwcjUAYozUFtUOVvlZ7FMS5SU6jVAB2-w9pF9=w100" alt="The White House"></a></li>
	<li>
	<a href="https://www.gov.uk/government/organisations/prime-ministers-office-10-downing-street">
	<img class="greyscale-filter" src="//lh3.ggpht.com/itaGNo3nTSoRBSDGHWvbKwaQMmkncwLKS2VIkbz-nA3QTKcXtW7NH99s6xFMBbytIB0eU-S9EjbPm2rY-b_ALw=w100" alt="10 Downing Street"></a></li>
	<li>
	<a href="http://www.google.com/ideas/">
	<img class="greyscale-filter" src="//lh3.ggpht.com/oIZ6sbRYO4YrNqKTSiS8arR7m84exQI5Uwf2x3mkTvWlpTZaEHFGnzql5I4-WELJTLyIGdu48cYlxpehWxacgA=w150" alt="Google Ideas"></a></li>
	<li>
	<a href="https://cloud.google.com/partners/">
	<img class="greyscale-filter" src="//lh3.ggpht.com/_R3_524HVWJjS2bFSbfRqhkyZeWmZTbbOyOzGRe8YRo8z3coD0R7LdbiW3r5BjHk-XHZXRi3ag1RPEz9RnGSBY4=w180" alt="Google Cloud Platform"></a></li>
	<li>
	<a href="http://www.amnesty.org.uk/">
	<img class="greyscale-filter" src="//lh3.ggpht.com/cawxIe6_ubz5bmyn4IcbDZh7bB6UajUu_yYMhVjyzTVSQDfJFLzGMuI0ZY5YjU0aCxudALLspVG9XQZ_8kwesw=w50" alt="Amnesty International"></a></li>
	<li>
	<a href="http://www.facebook.com">
	<img class="greyscale-filter" src="//lh3.ggpht.com/_kh837WsP2SP9diKBohTLewkdo3Dpwj3cHyCtVQweEPusKlciJWYO2peeWbNVNN1ON3DGKY11ngdMQYbNP3zjw=w100" alt="Facebook"></a></li>
	<li>
	<a href="http://www.ipsos-mori.com">
	<img class="greyscale-filter" src="//lh3.ggpht.com/cZNhktlhBYTUsQqq-wslPL41uIoAfDVbeu9oKavGhFr10ImSlGUILNygwLQ81tD_Y4pwR8qs-XMW7bPJ2Ov6=w60" alt="Ipsos"></a></li></ul></div></div></div>
	<div class="container">
	<div class="row">
	<h2 class="text-center">What we've been up to</h2>
	<hr class="page"/></div>
	<div class="row text-center">
	<div class="col-lg-4 col-md-4 col-sm-4">
	<div class="thumbnail thumbnail-index">
	<a href="//p.ota.to/blog/2013/12/potato-delivers-business-orientated-google-plus-website/">
	<picture alt="Google+ Business">
	<source media="(min-width: 0px)" srcset="//lh3.ggpht.com/pnuOrtrgqkpHUPaKbEhoAEbdRKiBPEc4j9vzn1C3wkZa6EK6EnIa7ozqb3F-Ux-2kXrvr03Jx1zRUD7KQ7RYrw=w120-h72-p 1x, //lh3.ggpht.com/pnuOrtrgqkpHUPaKbEhoAEbdRKiBPEc4j9vzn1C3wkZa6EK6EnIa7ozqb3F-Ux-2kXrvr03Jx1zRUD7KQ7RYrw=w240-h144-p 2x">
	<source media="(min-width: 480px)" srcset="//lh3.ggpht.com/pnuOrtrgqkpHUPaKbEhoAEbdRKiBPEc4j9vzn1C3wkZa6EK6EnIa7ozqb3F-Ux-2kXrvr03Jx1zRUD7KQ7RYrw=w220-h132-p 1x, //lh3.ggpht.com/pnuOrtrgqkpHUPaKbEhoAEbdRKiBPEc4j9vzn1C3wkZa6EK6EnIa7ozqb3F-Ux-2kXrvr03Jx1zRUD7KQ7RYrw=w440-h264-p 2x">
	<source media="(min-width: 768px)" srcset="//lh3.ggpht.com/pnuOrtrgqkpHUPaKbEhoAEbdRKiBPEc4j9vzn1C3wkZa6EK6EnIa7ozqb3F-Ux-2kXrvr03Jx1zRUD7KQ7RYrw=w220-h132-p 1x, //lh3.ggpht.com/pnuOrtrgqkpHUPaKbEhoAEbdRKiBPEc4j9vzn1C3wkZa6EK6EnIa7ozqb3F-Ux-2kXrvr03Jx1zRUD7KQ7RYrw=w440-h264-p 2x">
	<source media="(min-width: 992px)" srcset="//lh3.ggpht.com/pnuOrtrgqkpHUPaKbEhoAEbdRKiBPEc4j9vzn1C3wkZa6EK6EnIa7ozqb3F-Ux-2kXrvr03Jx1zRUD7KQ7RYrw=w294-h176-p 1x, //lh3.ggpht.com/pnuOrtrgqkpHUPaKbEhoAEbdRKiBPEc4j9vzn1C3wkZa6EK6EnIa7ozqb3F-Ux-2kXrvr03Jx1zRUD7KQ7RYrw=w588-h352-p 2x">
	<source media="(min-width: 1200px)" srcset="//lh3.ggpht.com/pnuOrtrgqkpHUPaKbEhoAEbdRKiBPEc4j9vzn1C3wkZa6EK6EnIa7ozqb3F-Ux-2kXrvr03Jx1zRUD7KQ7RYrw=w360-h216-p 1x, //lh3.ggpht.com/pnuOrtrgqkpHUPaKbEhoAEbdRKiBPEc4j9vzn1C3wkZa6EK6EnIa7ozqb3F-Ux-2kXrvr03Jx1zRUD7KQ7RYrw=w720-h432-p 2x">
	<img src=""></picture></a>
	<div class="caption">
	<h4>
	<a href="//p.ota.to/blog/2013/12/potato-delivers-business-orientated-google-plus-website/">
									Potato delivers business-orientated Google+ website
								</a></h4>
	<p>Google wants to assist small and medium-sized local businesses understand how best to use Google+ to reach customers online. A Google+ page offers a variety of opportunities and is free - but business owners sometimes aren't aware of these benefits.</p></div></div></div>
	<div class="col-lg-4 col-md-4 col-sm-4">
	<div class="thumbnail thumbnail-index">
	<a href="//p.ota.to/blog/2013/9/djugl-congregates-at-potato/">
	<picture alt="DJUGL in session">
	<source media="(min-width: 0px)" srcset="//lh3.ggpht.com/VMJWRC4u5_e-w86H6hcRorYF8NpgtyuzeH7Xc2TmUD7O88hWUWGcj-d37It1aMY4AMpH08kW3jb4Qgp7x8m2vg=w120-h72-p 1x, //lh3.ggpht.com/VMJWRC4u5_e-w86H6hcRorYF8NpgtyuzeH7Xc2TmUD7O88hWUWGcj-d37It1aMY4AMpH08kW3jb4Qgp7x8m2vg=w240-h144-p 2x">
	<source media="(min-width: 480px)" srcset="//lh3.ggpht.com/VMJWRC4u5_e-w86H6hcRorYF8NpgtyuzeH7Xc2TmUD7O88hWUWGcj-d37It1aMY4AMpH08kW3jb4Qgp7x8m2vg=w220-h132-p 1x, //lh3.ggpht.com/VMJWRC4u5_e-w86H6hcRorYF8NpgtyuzeH7Xc2TmUD7O88hWUWGcj-d37It1aMY4AMpH08kW3jb4Qgp7x8m2vg=w440-h264-p 2x">
	<source media="(min-width: 768px)" srcset="//lh3.ggpht.com/VMJWRC4u5_e-w86H6hcRorYF8NpgtyuzeH7Xc2TmUD7O88hWUWGcj-d37It1aMY4AMpH08kW3jb4Qgp7x8m2vg=w220-h132-p 1x, //lh3.ggpht.com/VMJWRC4u5_e-w86H6hcRorYF8NpgtyuzeH7Xc2TmUD7O88hWUWGcj-d37It1aMY4AMpH08kW3jb4Qgp7x8m2vg=w440-h264-p 2x">
	<source media="(min-width: 992px)" srcset="//lh3.ggpht.com/VMJWRC4u5_e-w86H6hcRorYF8NpgtyuzeH7Xc2TmUD7O88hWUWGcj-d37It1aMY4AMpH08kW3jb4Qgp7x8m2vg=w294-h176-p 1x, //lh3.ggpht.com/VMJWRC4u5_e-w86H6hcRorYF8NpgtyuzeH7Xc2TmUD7O88hWUWGcj-d37It1aMY4AMpH08kW3jb4Qgp7x8m2vg=w588-h352-p 2x">
	<source media="(min-width: 1200px)" srcset="//lh3.ggpht.com/VMJWRC4u5_e-w86H6hcRorYF8NpgtyuzeH7Xc2TmUD7O88hWUWGcj-d37It1aMY4AMpH08kW3jb4Qgp7x8m2vg=w360-h216-p 1x, //lh3.ggpht.com/VMJWRC4u5_e-w86H6hcRorYF8NpgtyuzeH7Xc2TmUD7O88hWUWGcj-d37It1aMY4AMpH08kW3jb4Qgp7x8m2vg=w720-h432-p 2x">
	<img src=""></picture></a>
	<div class="caption">
	<h4>
	<a href="//p.ota.to/blog/2013/9/djugl-congregates-at-potato/">
									DJUGL congregates at Potato
								</a></h4>
	<p>Yesterday, Potato's London headquarters hosted the latest
	<a href="http://www.djugl.org/">Django User Group London</a> meetup, with more than seventy people attending.</p></div></div></div>
	<div class="col-lg-4 col-md-4 col-sm-4">
	<div class="thumbnail thumbnail-index">
	<a href="//p.ota.to/blog/2013/9/eating_our_own_dogfood/">
	<picture alt="Dominata taking a lunch order using Bytes">
	<source media="(min-width: 0px)" srcset="//lh3.ggpht.com/gAiWXd8VMuCpsobVdQYjAaWNtGbdbJlAzBOrXM3voniyo7OFACQ_ur6gYeNsgM7sOA-hJeKTdj1jhxlbTZtD9FM=w120-h72-p 1x, //lh3.ggpht.com/gAiWXd8VMuCpsobVdQYjAaWNtGbdbJlAzBOrXM3voniyo7OFACQ_ur6gYeNsgM7sOA-hJeKTdj1jhxlbTZtD9FM=w240-h144-p 2x">
	<source media="(min-width: 480px)" srcset="//lh3.ggpht.com/gAiWXd8VMuCpsobVdQYjAaWNtGbdbJlAzBOrXM3voniyo7OFACQ_ur6gYeNsgM7sOA-hJeKTdj1jhxlbTZtD9FM=w220-h132-p 1x, //lh3.ggpht.com/gAiWXd8VMuCpsobVdQYjAaWNtGbdbJlAzBOrXM3voniyo7OFACQ_ur6gYeNsgM7sOA-hJeKTdj1jhxlbTZtD9FM=w440-h264-p 2x">
	<source media="(min-width: 768px)" srcset="//lh3.ggpht.com/gAiWXd8VMuCpsobVdQYjAaWNtGbdbJlAzBOrXM3voniyo7OFACQ_ur6gYeNsgM7sOA-hJeKTdj1jhxlbTZtD9FM=w220-h132-p 1x, //lh3.ggpht.com/gAiWXd8VMuCpsobVdQYjAaWNtGbdbJlAzBOrXM3voniyo7OFACQ_ur6gYeNsgM7sOA-hJeKTdj1jhxlbTZtD9FM=w440-h264-p 2x">
	<source media="(min-width: 992px)" srcset="//lh3.ggpht.com/gAiWXd8VMuCpsobVdQYjAaWNtGbdbJlAzBOrXM3voniyo7OFACQ_ur6gYeNsgM7sOA-hJeKTdj1jhxlbTZtD9FM=w294-h176-p 1x, //lh3.ggpht.com/gAiWXd8VMuCpsobVdQYjAaWNtGbdbJlAzBOrXM3voniyo7OFACQ_ur6gYeNsgM7sOA-hJeKTdj1jhxlbTZtD9FM=w588-h352-p 2x">
	<source media="(min-width: 1200px)" srcset="//lh3.ggpht.com/gAiWXd8VMuCpsobVdQYjAaWNtGbdbJlAzBOrXM3voniyo7OFACQ_ur6gYeNsgM7sOA-hJeKTdj1jhxlbTZtD9FM=w360-h216-p 1x, //lh3.ggpht.com/gAiWXd8VMuCpsobVdQYjAaWNtGbdbJlAzBOrXM3voniyo7OFACQ_ur6gYeNsgM7sOA-hJeKTdj1jhxlbTZtD9FM=w720-h432-p 2x">
	<img src=""></picture></a>
	<div class="caption">
	<h4>
	<a href="//p.ota.to/blog/2013/9/eating_our_own_dogfood/">
									Eating our own dog food (for lunch)
								</a></h4>
	<p>One of the perks of working at Potato is free food every lunchtime. This is delivered to desks by our smiling office assistants, and helps make sure those that prefer to plough on with coding can do so comfortably (without going hungry!). ...</p></div></div></div></div>
	<div class="row secondary text-center">
	<div class="col-lg-4 col-md-4 col-sm-4">
	<div class="thumbnail thumbnail-index">
	<a href="//p.ota.to/blog/2013/8/google-creative-lab-and-potato-make-history-timeline-for-chrome/">
	<picture alt="History Timeline for Chrome">
	<source media="(min-width: 0px)" srcset="//lh3.ggpht.com/ZThD7pbPpyr_NQaG9bYWr-JN8cpIpCvESZ5tG583vFQgan2ZbbdUSlhT4LOSRPJM5aQwe458oF4Jh2TNBFr2=w120-h72-p 1x, //lh3.ggpht.com/ZThD7pbPpyr_NQaG9bYWr-JN8cpIpCvESZ5tG583vFQgan2ZbbdUSlhT4LOSRPJM5aQwe458oF4Jh2TNBFr2=w240-h144-p 2x">
	<source media="(min-width: 480px)" srcset="//lh3.ggpht.com/ZThD7pbPpyr_NQaG9bYWr-JN8cpIpCvESZ5tG583vFQgan2ZbbdUSlhT4LOSRPJM5aQwe458oF4Jh2TNBFr2=w220-h132-p 1x, //lh3.ggpht.com/ZThD7pbPpyr_NQaG9bYWr-JN8cpIpCvESZ5tG583vFQgan2ZbbdUSlhT4LOSRPJM5aQwe458oF4Jh2TNBFr2=w440-h264-p 2x">
	<source media="(min-width: 768px)" srcset="//lh3.ggpht.com/ZThD7pbPpyr_NQaG9bYWr-JN8cpIpCvESZ5tG583vFQgan2ZbbdUSlhT4LOSRPJM5aQwe458oF4Jh2TNBFr2=w220-h132-p 1x, //lh3.ggpht.com/ZThD7pbPpyr_NQaG9bYWr-JN8cpIpCvESZ5tG583vFQgan2ZbbdUSlhT4LOSRPJM5aQwe458oF4Jh2TNBFr2=w440-h264-p 2x">
	<source media="(min-width: 992px)" srcset="//lh3.ggpht.com/ZThD7pbPpyr_NQaG9bYWr-JN8cpIpCvESZ5tG583vFQgan2ZbbdUSlhT4LOSRPJM5aQwe458oF4Jh2TNBFr2=w294-h176-p 1x, //lh3.ggpht.com/ZThD7pbPpyr_NQaG9bYWr-JN8cpIpCvESZ5tG583vFQgan2ZbbdUSlhT4LOSRPJM5aQwe458oF4Jh2TNBFr2=w588-h352-p 2x">
	<source media="(min-width: 1200px)" srcset="//lh3.ggpht.com/ZThD7pbPpyr_NQaG9bYWr-JN8cpIpCvESZ5tG583vFQgan2ZbbdUSlhT4LOSRPJM5aQwe458oF4Jh2TNBFr2=w360-h216-p 1x, //lh3.ggpht.com/ZThD7pbPpyr_NQaG9bYWr-JN8cpIpCvESZ5tG583vFQgan2ZbbdUSlhT4LOSRPJM5aQwe458oF4Jh2TNBFr2=w720-h432-p 2x">
	<img src=""></picture></a>
	<div class="caption">
	<h4>
	<a href="//p.ota.to/blog/2013/8/google-creative-lab-and-potato-make-history-timeline-for-chrome/">
									Google Creative Lab and Potato make History Timeline for Chrome
								</a></h4>
	<p>It has been our pleasure to collaborate with Google's Creative Lab on several occasions and we're very excited to be able to reveal our latest experiment together,
	<a href="https://chrome.google.com/webstore/detail/history-timeline/gjhpcfomcckgcaniehfgakaddjgncpeb">History Timeline for Chrome</a>, made with the Creative Lab Sydney.</p></div></div></div>
	<div class="col-lg-4 col-md-4 col-sm-4">
	<div class="thumbnail thumbnail-index">
	<a href="//p.ota.to/blog/2013/7/our-mobile-planet-relaunches-with-new-2013-insights/">
	<picture alt="Our Mobile Planet">
	<source media="(min-width: 0px)" srcset="//lh3.ggpht.com/Y5zvovKENGmodJ7gh3rgfR4tSMFVUHkQeCHarckyc6mM3xdcXMpaq7eym9OFK1jLk2tTXXkO0f2lD4L23LM=w120-h72-p 1x, //lh3.ggpht.com/Y5zvovKENGmodJ7gh3rgfR4tSMFVUHkQeCHarckyc6mM3xdcXMpaq7eym9OFK1jLk2tTXXkO0f2lD4L23LM=w240-h144-p 2x">
	<source media="(min-width: 480px)" srcset="//lh3.ggpht.com/Y5zvovKENGmodJ7gh3rgfR4tSMFVUHkQeCHarckyc6mM3xdcXMpaq7eym9OFK1jLk2tTXXkO0f2lD4L23LM=w220-h132-p 1x, //lh3.ggpht.com/Y5zvovKENGmodJ7gh3rgfR4tSMFVUHkQeCHarckyc6mM3xdcXMpaq7eym9OFK1jLk2tTXXkO0f2lD4L23LM=w440-h264-p 2x">
	<source media="(min-width: 768px)" srcset="//lh3.ggpht.com/Y5zvovKENGmodJ7gh3rgfR4tSMFVUHkQeCHarckyc6mM3xdcXMpaq7eym9OFK1jLk2tTXXkO0f2lD4L23LM=w220-h132-p 1x, //lh3.ggpht.com/Y5zvovKENGmodJ7gh3rgfR4tSMFVUHkQeCHarckyc6mM3xdcXMpaq7eym9OFK1jLk2tTXXkO0f2lD4L23LM=w440-h264-p 2x">
	<source media="(min-width: 992px)" srcset="//lh3.ggpht.com/Y5zvovKENGmodJ7gh3rgfR4tSMFVUHkQeCHarckyc6mM3xdcXMpaq7eym9OFK1jLk2tTXXkO0f2lD4L23LM=w294-h176-p 1x, //lh3.ggpht.com/Y5zvovKENGmodJ7gh3rgfR4tSMFVUHkQeCHarckyc6mM3xdcXMpaq7eym9OFK1jLk2tTXXkO0f2lD4L23LM=w588-h352-p 2x">
	<source media="(min-width: 1200px)" srcset="//lh3.ggpht.com/Y5zvovKENGmodJ7gh3rgfR4tSMFVUHkQeCHarckyc6mM3xdcXMpaq7eym9OFK1jLk2tTXXkO0f2lD4L23LM=w360-h216-p 1x, //lh3.ggpht.com/Y5zvovKENGmodJ7gh3rgfR4tSMFVUHkQeCHarckyc6mM3xdcXMpaq7eym9OFK1jLk2tTXXkO0f2lD4L23LM=w720-h432-p 2x">
	<img src=""></picture></a>
	<div class="caption">
	<h4>
	<a href="//p.ota.to/blog/2013/7/our-mobile-planet-relaunches-with-new-2013-insights/">
									Our Mobile Planet relaunches with new 2013 insights
								</a></h4>
	<p>Google's
	<a href="http://www.ourmobileplanet.com/">Our Mobile Planet</a> has been relaunched by Potato this week, incorporating the very latest 2013 mobile consumer trend market research from Google's partners
	<a href="http://www.ipsos.com/">Ipsos</a>, the
	<a href="http://www.mmaglobal.com/">Mobile Marketing Association</a>, and the
	<a href="http://www.iab.net/">Interactive Advertising Bureau</a>.</p></div></div></div>
	<div class="col-lg-4 col-md-4 col-sm-4">
	<div class="thumbnail thumbnail-index">
	<a href="//p.ota.to/blog/2013/5/scalability-in-the-spotlight-at-djangocon/">
	<picture alt="Steven Holmes at DjangoCon">
	<source media="(min-width: 0px)" srcset="//lh3.ggpht.com/qTt6eeTRjyQDh1gfoqf6qJgwwyFthSkANBHCCtf2NMlWk77_Sg6PxyTy6V8ryfmJz48Kwgo6CRONXTT0XKG0Nw=w120-h72-p 1x, //lh3.ggpht.com/qTt6eeTRjyQDh1gfoqf6qJgwwyFthSkANBHCCtf2NMlWk77_Sg6PxyTy6V8ryfmJz48Kwgo6CRONXTT0XKG0Nw=w240-h144-p 2x">
	<source media="(min-width: 480px)" srcset="//lh3.ggpht.com/qTt6eeTRjyQDh1gfoqf6qJgwwyFthSkANBHCCtf2NMlWk77_Sg6PxyTy6V8ryfmJz48Kwgo6CRONXTT0XKG0Nw=w220-h132-p 1x, //lh3.ggpht.com/qTt6eeTRjyQDh1gfoqf6qJgwwyFthSkANBHCCtf2NMlWk77_Sg6PxyTy6V8ryfmJz48Kwgo6CRONXTT0XKG0Nw=w440-h264-p 2x">
	<source media="(min-width: 768px)" srcset="//lh3.ggpht.com/qTt6eeTRjyQDh1gfoqf6qJgwwyFthSkANBHCCtf2NMlWk77_Sg6PxyTy6V8ryfmJz48Kwgo6CRONXTT0XKG0Nw=w220-h132-p 1x, //lh3.ggpht.com/qTt6eeTRjyQDh1gfoqf6qJgwwyFthSkANBHCCtf2NMlWk77_Sg6PxyTy6V8ryfmJz48Kwgo6CRONXTT0XKG0Nw=w440-h264-p 2x">
	<source media="(min-width: 992px)" srcset="//lh3.ggpht.com/qTt6eeTRjyQDh1gfoqf6qJgwwyFthSkANBHCCtf2NMlWk77_Sg6PxyTy6V8ryfmJz48Kwgo6CRONXTT0XKG0Nw=w294-h176-p 1x, //lh3.ggpht.com/qTt6eeTRjyQDh1gfoqf6qJgwwyFthSkANBHCCtf2NMlWk77_Sg6PxyTy6V8ryfmJz48Kwgo6CRONXTT0XKG0Nw=w588-h352-p 2x">
	<source media="(min-width: 1200px)" srcset="//lh3.ggpht.com/qTt6eeTRjyQDh1gfoqf6qJgwwyFthSkANBHCCtf2NMlWk77_Sg6PxyTy6V8ryfmJz48Kwgo6CRONXTT0XKG0Nw=w360-h216-p 1x, //lh3.ggpht.com/qTt6eeTRjyQDh1gfoqf6qJgwwyFthSkANBHCCtf2NMlWk77_Sg6PxyTy6V8ryfmJz48Kwgo6CRONXTT0XKG0Nw=w720-h432-p 2x">
	<img src=""></picture></a>
	<div class="caption">
	<h4>
	<a href="//p.ota.to/blog/2013/5/scalability-in-the-spotlight-at-djangocon/">
									Scalability in the spotlight at DjangoCon
								</a></h4>
	<p>Potato developer Steven Holmes took to the stage at
	<a href="http://2013.djangocon.eu/">DjangoCon 2013</a>'s circus ring to talk about scalability, on Friday May 17th. In a session titled 'Does your stuff scale?' (originally titled: 'Does your sh*t scale?'), Steven looked at scalability both from ...</p></div></div></div></div></main></div>
	<div class="color-block twitter-block">
	<div class="container">
	<div class="row">
	<div class="col-lg-8 col-md-8 col-sm-8 twitter">
	<i class="fa fa-twitter fa-3x"></i>
	<div class="col-lg-10 col-md-10 col-sm-10 tweet">
	<div class="row">
	<div class="speechbubble triangle-left">
	<p>RT
	<a href="http://twitter.com/scottexpedition">@scottexpedition</a>: An emotional family pic for both
	<a href="http://twitter.com/polarben">@polarben</a> and Tarka on their arrival at Heathrow
	<a href="http://t.co/QzkUyKS3Ht">http://t.co/QzkUyKS3Ht</a></p></div></div></div></div>
	<div class="col-lg-4 col-md-4 col-sm-4 connect">
	<ul class="list-unstyled social inline">
	<li>
	<a href="http://www.twitter.com/potatolondon">
	<i class="fa fa-twitter"></i></a></li>
	<li>
	<a href="https://www.facebook.com/pages/Potato-London-Ltd/124026684360077">
	<i class="fa fa-facebook"></i></a></li>
	<li>
	<a href="https://plus.google.com/b/113926112914078967604/113926112914078967604/posts">
	<i class="fa fa-google-plus"></i></a></li>
	<li>
	<a href="http://www.linkedin.com/company/920043">
	<i class="fa fa-linkedin"></i></a></li>
	<li>
	<a href="https://github.com/potatolondon">
	<i class="fa fa-github-alt"></i></a></li>
	<li>
	<a href="//p.ota.to/rss.xml">
	<i class="fa fa-rss"></i></a></li></ul></div></div>
	<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 follow">
	<p>Follow us on Twitter:
	<a href="http://www.twitter.com/potatolondon">@potatolondon</a></p></div></div></div></div>
	<footer>
	<div class="container">
	<div class="row">
	<p>&copy; 2014 Potato London Ltd</p></div></div></footer>
	<!--<script src="//p.ota.to/static/js/jquery.min.js"></script>-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.js"></script>
	<script src="//p.ota.to/static/js/jquery.magnific-popup.js"></script>
	<script src="//p.ota.to/static/js/potato.js"></script>
	<script src="//p.ota.to/static/js/picturefill.min.js"></script>
	<script src="//p.ota.to/static/js/jquery.bxslider.min.js"></script>
	<script src="//p.ota.to/static/js/carousel.js"></script>


	<script src="{{STATIC_URL}}fancybox/jquery.fancybox-1.3.4.js"></script>
	<script src="{{STATIC_URL}}js/contentious.js"></script>
	{% include "contentious/common_setup.html" %}

</body>
</html>
